/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/coverage/
/.phpunit.cache/
/node_modules/

# Symfony Demo directory
composer.lock
/demo/.env.local
/demo/demo/.env.local.php
/demo/.env.*.local
/demo/config/secrets/prod/prod.decrypt.private.php
/demo/public/bundles/
/demo/var/
/demo/vendor/
/demo/.phpunit.cache/
/demo/node_modules/
